body {
 background-color: antiquewhite;
}

header{
  text-align: center;
}

#wrap {
  height: 100%;
  width: 100%;
}

#head {
  margin: 0, 100%, 20%;
}

label {
  font-size: 2vw;
  font-family: 'Didot', serif;
  margin-left: 40%;
  color: grey;
}

input {
  font-size: 1vw;
}

/*hf stands for head / foot*/
td.hf {
  border : solid black 0.125vw
}

td.delete {
  border : solid black 0vw
}

td {
  min-width: 20%;
  max-width: 20%;
  border : solid black 0.08vw;
}

#INeedSleep {
  width: 10%;
  height: 3%;
  font-size: 0.55vw;
  background-color: antiquewhite;
}
input[type="submit"] {
  width: 31%;
  background-image: linear-gradient(rgb(244, 244, 242), rgb(200, 200, 200));
	border: 1px solid grey;
  border-radius:2px;
  margin-left: 40%;
  height: 10%;
}

input[type="text"], input[type="password"] {
  width: 20%;
  height: 3%;
}

h1 {
  color: gray;
  font-size: 4vw;
  font-family: 'Didot', serif;
}

.menu li {
  display: inline;
}

.menu li a{
  padding: 0 5%;
  border-style: none solid none solid;
  border-color: grey;
  font-size: 2vw;
  color: grey;
  text-align:center;
  max-width: 10%;
}

a {
  font-family: 'Didot', serif;
  text-decoration: none;
}

a.del {
  color: saddlebrown;
}

.menu li a:hover{
  background-color: linen;
}